{
  "presets": [[
    "env", {
      "targets": {
        "browser": [
          "> 1%",
          "last 2 versions",
          "not ie <= 8"
        ]
      },
      "modules": false
    }
  ], "stage-1", "stage-2", "stage-3"]
}